body, .container, .navbar{
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.navbar{
    height:60px;
    box-shadow: 0px 2px 10px black;
    z-index: 10;
}
body {
    height: 100%;
}
.wrapper{
    height: 100%;
    padding-top:60px;
    box-sizing: border-box;
}

#map-container{
    width: 100%;
    height: 100%;
}

.navbar-inner{
    width: 100%;
    height: 100% !important;

    box-sizing: border-box;
}

.navbar-fixed-top .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.navbar-fixed-top .container .navbar-text{
    margin: 0.7em;
    position: relative;
}



.navbar .brand {
    display: block;
    float: left;
    background: url("images/logo-white.png") no-repeat;
    background-size: 100%;
    -o-background-size:100%;
    -webkit-background-size: 100%;
    margin: 0.25em 0.7em;
    padding: 0;
    height: 50px;
    width: 140px;
}

#map {
    position: relative;
    width:100%;
    height: 100%;
}
#spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.75) url('images/ajax-loader.gif') 50% 50% no-repeat;
    z-index: 9999;
}
.info {
    max-width: 200px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.leaflet-setnew-control-locate-wrap {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}



.fbbtn.large {
    font-size: 13px;
    line-height: normal;
    padding: 9px 14px 9px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.fbbtn.primary {
    color: white;
    background-color: #3B5998;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#627AAD), to(#3B5998));
    background-image: -moz-linear-gradient(top, #627AAD, #3B5998);
    background-image: -ms-linear-gradient(top, #627AAD, #3B5998);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627AAD), color-stop(100%, #3B5998));
    background-image: -webkit-linear-gradient(top, #627AAD, #3B5998);
    background-image: -o-linear-gradient(top, #627AAD, #3B5998);
    background-image: linear-gradient(top, #627AAD, #3B5998);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627aad', endColorstr='#3b5998', GradientType=0);
    border-color: #3B5998 #3B5998 #263961;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.fbbtn {
    text-decoration: none !important;
    cursor: pointer;
    display: inline-block;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
    background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
    background-image: linear-gradient(white, white 25%, #E6E6E6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 12px 6px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    border: 1px solid #666;
    border-bottom-color: #999;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.fbbtn.active, .fbbtn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fbbtn:hover {
    background-position: 0 -15px;
    color: white;
    text-decoration: none;
}
.fbbtn:focus {
    outline: 1px dotted #666;
}


.leaflet-setnew-locate-wrap {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.leaflet-setnew-control-locate {
    display: block;
    width: 19px;
    height: 19px;
    background: rgba(255, 255, 255, 0.75) url('images/draw-marker-icon.png') 50% 50% no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.leaflet-control-minimap {
    border-color: #1b1b1b;
}

.category-sidebar{
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    background: transparent;
    width: 400px;
    height: 100%;
    right: -360px;
    height: 100%;
    padding-top: 50px;
}

.animated{
    transition: right 0.5s;
    -moz-transition: right 0.5s; /* Firefox 4 */
    -webkit-transition: right 0.5s; /* Safari and Chrome */
    -o-transition: right 0.5s; /* Opera */
}

.toggled{
    right: 0px;
}

.sidebar-opener-wrapper{
    cursor: pointer;
    background-color: #1B1B1B;
    position: absolute;
    display: block;
    top:50%;
    border-radius: 10px 0 0 10px;
    height: 140px;
    width: 40px;
    opacity: 0.67;
    box-shadow: -1px 2px 6px #222;
}

.sidebar-opener{
    padding-top: 2em;
}

.sidebar-opener span {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    height: 4.3em;
    writing-mode: tb-rl;
    filter: flipv fliph;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    color: white;
    white-space:nowrap;
    display: block;
}


.categories-wrapper{
    opacity: 0.9;
    background-color: #1B1B1B;
    background-image: -moz-linear-gradient(left,#555,#000);
    background-image: -webkit-gradient(linear,0 0,100% 0,from(#555),to(#000));
    background-image: -webkit-linear-gradient(left,#555,#000);
    background-image: -o-linear-gradient(left,#555,#000);
    background-image: linear-gradient(to right,#555,#000);
    background-repeat: repeat-x;
    border-color: #252525;

    display: block;
    width: 360px;
    height: 100%;
    margin-left: 40px;
}

.categories{
    overflow-y: auto;
    height: 100%;
    display: block;
    position: relative;
}

.categories ul{
    padding: 35px 0px;
    color: white;
    list-style: none;
}

.categories ul li {
    cursor: pointer;
    line-height: 20px;
    margin: 10px 0;
    width: 295px;
    padding: 5px 10px;
    border-radius: 5px;
}


.categories ul li:hover {
   background: #777;
}

.alg{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width:170px;
    margin-top: 0.8em;
}
