body {
    padding-top: 45px;
}
#map {
    float: left;
    margin-right: 10px;
}
.info {
    max-width: 200px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.leaflet-control-locate-wrap {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.leaflet-control-locate {
    display: block;
    width: 19px;
    height: 19px;
    background: rgba(255, 255, 255, 0.75) url('images/locate.png') 50% 50% no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
