{% extends "base.html" %}

{% block content %}

<div id="map-container" class="clearfix">
    <div id="map" style="height: 100%; width: 100%"></div>
    <div class="leaflet-control-container" style="top: 162px;position: absolute;">
        <div class="leaflet-top leaflet-left">
            <div class="leaflet-control-zoom leaflet-control">
                <a class="leaflet-control-new-pos" href="#" id="set-new-pos" title="New position"></a>
            </div>
        </div>
    </div>
</div>
<div id="category-sidebar" class="category-sidebar animated">
    <div class="sidebar-opener-wrapper">
        <div class="sidebar-opener" id="sidebar-opener">
asd asd asd asd
        </div>
    </div>
    <div class="categories-wrapper">
        <div id="categories">
            <ul></ul>
        </div>
    </div>
</div>
{% endblock content %}
